.example {
  padding: 18px 20px 0;
  margin-top: 45px;
  background-color: #f2f2f2;

  & h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: normal;
  }

  & p {
    margin-top: 23px;
    margin-right: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
}

.example__table {
  margin-top: 25px;
  display: flex;
}

.example__tr {
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  width: 122px;
  height: 54px;
  position: relative;

  & span {
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    display: block;
    text-align: center;
  }

  & p {
    position: absolute;
    top: 23px;
    left: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    width: 80px;
    text-align: center;
    background-color: #f2f2f2;
  }
}

.example__tr:first-child {
  margin-right: 32px;
}

.example__cost {
  margin-top: 34px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: block;
}

.example__cats {
  margin-top: 33px;
}

.example__images {
  & img {
    position: relative;
    left: -20px;
  }
}

.example__btns {
  text-align: center;
  margin-top: 26px;
  padding-bottom: 34px;

  & span {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

  & button {
    width: 86px;
    height: 14px;
    margin: 0 13px;
    border-radius: 6px;
    border: 1px solid #cdcdcd;
  }
}

.example__button {
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  position: relative;
  display: block;
  left: 5px;
  transition: .3s;
}
